<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost/BattleServer/RemotePlayerManager"
											binding="wsHttpBinding" 
											contract="IRemotePlayerManager">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>