<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="YatesMorrison.RolePlay.BattleFramework.RemotePlayerManager"
							 behaviorConfiguration="ServiceBehavior">
				<endpoint address="RemotePlayerManager"
									binding="basicHttpBinding"
									contract="YatesMorrison.RolePlay.BattleFramework.IRemotePlayerManager" />
				<endpoint address="RemotePlayerManager/Mex"
									binding="mexHttpBinding"
									contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost/BattleServer/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<client>
			<endpoint address="http://localhost/BattleServer/RemotePlayerManager"
								binding="basicHttpBinding"
								contract="YatesMorrison.RolePlay.BattleFramework.IRemotePlayerManager">
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>