<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
	<appSettings/>

	<connectionStrings>
		<add name="Rpg_AppDbConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=Rpg.AppDb;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
