div.column
{
	width: 100%;
	float: left;
	margin-left: 0.5%;
	margin-right: 0.5%;
}

div.section
{
	width: 100%;
}

div.section h1
{
	font-size: 1.1em;
	font-weight: bold;
	background-color: #333;
	color: #fff;
	text-transform: capitalize;
	text-align: center;
	width: 100%;
}

table.stats
{
	border-collapse: collapse;
	width: 100%;
}
table.stats th
{
	font-size: 0.6em;
	text-align: center;
	font-family: Tahoma;
	font-weight: normal;
	vertical-align: bottom;
}
table.stats td
{
	vertical-align: middle;
	padding-top: 1px;
	padding-bottom: 1px;
}
table.stats th.text
{
	text-align: left;
}
table.stats td.text
{
	background-color: #333; 
	color: #fff; 
	border: 1px solid #ccc;
	font-family: Verdana;
}
table.stats td.value
{
	text-align: center;
	font-size: 1.5em;
	border: 1px solid #ccc;
	text-align: center;
}
table.stats tr.odd
{
	background-color: #ccc;
}