<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YatesMorrison.Entropy.Data.Properties.Settings.YatesMorrison_Entropy_DbConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=YatesMorrison.Entropy.Db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>