<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Treasure.Properties.Settings.YMS_RPG_TREASUREConnectionString"
				connectionString="Data Source=SKRAT10K\YMS_SQLEXPRESS;Initial Catalog=YMS_RPG_TREASURE;Integrated Security=True"
				providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>